#audioEffect {
    .equalizer-container {
        padding: 10px 0;
        .equalizer {
            display: flex;
            width: 85% !important;
            input {
                margin: 110px -40px 0 -80px;
            }
            .label {
                margin-top: 100px;
            }
            .equalizer-item {
                width: 4em;
            }
        }
    }
}
