#audioEffect {
    .equalizer {
        display: flex;
        width: 85% !important;
        height: 600px;
        input {
            margin: 110px -40px 0 -80px;
        }
        .label {
            margin-top: 100px;
        }
        .equalizer-item {
            width: 4em;
        }
    }
}
